p, h2, span, label, select, option {
    font-family: Futura, sans-serif;
    color: white;

    align-items: center;

    margin: 0;
    padding: 8px;
}

select, option {
    color: black;
}

label {
    margin-left: 8px;
}

.homework-box {
    background-color: #2f3137;
    border-radius: 8px;
}